body{
    background-color: brown;
    
}
.cod{
    background-color: black;
    color: blueviolet;
}
h1{
    color: blue;
}
.site{
    background-color: blue;
    color: burlywood;
}
.botao{
    background-color: brown;
}